Repository yeasin2002/rumi77-ai_skin_care-jvai: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-ts, eslint, prettier-other

prettier-ts:
  run: npx prettier --write {staged_files}
  stage_fixed: true

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

prettier-other:
  run: npx prettier --write {staged_files}
  stage_fixed: true

feat(modals): refactor create account modal layout and extract input styles
  src/app/[locale]/(landing)/(home)/Dialog/create-account-content.tsx
  src/app/[locale]/(landing)/(home)/Dialog/modal-container.tsx
  src/app/[locale]/(landing)/(home)/show-modals.tsx
  src/app/[locale]/layout.tsx
  src/components/ui/button.tsx
  src/styles/globals.css
Due: prettier-ts, eslint, prettier-other

feat(api): add axios client and TanStack Query integration
  .kiro/steering/tech-stack.md
  bun.lock
  package.json
  src/app/[locale]/(landing)/(home)/Dialog/create-account-content.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/root-wrapper.tsx
  src/lib/axios.ts
Due: prettier-ts, eslint

feat(api): implement member API hooks and query layer with documentation
  .kiro/steering/tech-stack.md
  API_ARCHITECTURE.md
  bun.lock
  package.json
  src/api/api-hooks/member.api-hook.ts
  src/api/query-list/member.query.ts
  src/app/[locale]/(landing)/(home)/Dialog/create-account-content.tsx
  src/app/[locale]/(landing)/(home)/show-modals.tsx
  src/app/[locale]/root-wrapper.tsx
  src/lib/axios.ts
Due: prettier-ts, eslint

docs: added API Architecture Pattern rules
  .kiro/steering/api-architecture.md
Due: none

feat(dashboard): add member management page with list view and filtering
  src/api/api-hooks/member.api-hook.ts
  src/api/query-list/member.query.ts
  src/app/[locale]/dashboard/layout.tsx
  src/app/[locale]/dashboard/member/page.tsx
  src/assets/icons/logo-full-dark.png
  src/assets/icons/members.svg
  src/components/dashboard/dashboard-nav.tsx
Due: prettier-ts, eslint

fix: auth page design issues
  src/app/[locale]/(auth)/login/page.tsx
  src/components/shared/auth-input.tsx
  src/styles/globals.css
  src/styles/shadcn-ui.css
Due: prettier-ts, eslint, prettier-other

feat(api): add authentication API hooks for login functionality
  src/api/api-hooks/auth.api-hook.ts
  src/api/query-list/auth.query.ts
Due: prettier-ts, eslint

feat: added register query and api hooks
  src/api/api-hooks/auth.api-hook.ts
  src/api/query-list/auth.query.ts
Due: prettier-ts, eslint

feat: completed api integration on login
  bun.lock
  package.json
  src/app/[locale]/(auth)/login/page.tsx
  src/store/auth.store.ts
  src/store/index.ts
Due: prettier-ts, eslint

feat(sign-up): implement user registration with API integration and navigation
  src/app/[locale]/(auth)/sign-up/page.tsx
  src/lib/axios.ts
  src/store/index.ts
Due: prettier-ts, eslint

fat: added logout
  src/components/dashboard/dashboard-nav.tsx
Due: prettier-ts, eslint

feat(auth): implement token refresh mechanism and refactor auth state management
  src/api/api-hooks/auth.api-hook.ts
  src/api/query-list/auth.query.ts
  src/api/query-list/member.query.ts
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(auth)/sign-up/page.tsx
  src/app/[locale]/dashboard/member/page.tsx
  src/components/shared/navlink-list.tsx
  src/lib/axios.ts
  src/store/auth.store.ts
Due: prettier-ts, eslint

feat: added member delete feature
  bun.lock
  package.json
  src/api/api-hooks/member.api-hook.ts
  src/api/query-list/member.query.ts
  src/app/[locale]/dashboard/member/page.tsx
  src/app/[locale]/dashboard/member/show-member-list.tsx
Due: prettier-ts, eslint

chore: removed pre-commit
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
Due: none

feat: implement confirmation dialog for member deletion
  src/app/[locale]/dashboard/member/show-member-list.tsx
Due: prettier-ts, eslint

fix: homepage UX issue
  src/app/[locale]/(landing)/(home)/Dialog/create-account-content.tsx
  src/app/[locale]/coming-soon/page.tsx
Due: prettier-ts, eslint

feat: added Internationalization to welcome modal
  src/app/[locale]/(landing)/(home)/Dialog/be-member-content.tsx
  src/app/[locale]/(landing)/(home)/Dialog/modal-container.tsx
  src/app/[locale]/(landing)/(home)/Dialog/welcome-content.tsx
  src/app/[locale]/(landing)/(home)/new-coming-soon-hero.tsx
  src/i18n/locales/ar/home.json
  src/i18n/locales/en/home.json
Due: prettier-ts, eslint, prettier-other

fix: arabic content issues
  src/i18n/locales/ar/comingSoon.json
  src/i18n/locales/ar/home.json
  src/i18n/locales/ar/shared.json
Due: prettier-other

fix: footer section issue
  src/components/shared/new-footer.tsx
Due: prettier-ts, eslint

fix: coming landing modals issues
  docs/cls-extended-guide.md
  src/app/[locale]/(landing)/(home)/Dialog/be-member-content.tsx
  src/app/[locale]/(landing)/(home)/Dialog/create-account-content.tsx
  src/app/[locale]/(landing)/(home)/new-coming-soon-hero.tsx
  src/styles/globals.css
Due: prettier-ts, eslint, prettier-other

fix: hero design issue
  src/app/[locale]/(landing)/(home)/new-coming-soon-hero.tsx
Due: prettier-ts, eslint

feat: implement dashboard guards and improve navlink list key handling
  src/app/[locale]/(landing)/(home)/Dialog/create-account-content.tsx
  src/app/[locale]/dashboard/dashboard-guards.tsx
  src/app/[locale]/dashboard/layout.tsx
  src/components/shared/navlink-list.tsx
Due: prettier-ts, eslint

fix: dashboard nav icon issue
  src/app/[locale]/dashboard/layout.tsx
  src/assets/icons/members.svg
Due: prettier-ts, eslint

feat(home): implement seasonal modal dismissal with storage hook
  src/app/[locale]/(landing)/(home)/show-modals.tsx
  src/hooks/useSeasonStorage.tsx
Due: prettier-ts, eslint

chore: migrated from bun to pnpm
  bun.lock
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ci: added deployment workflow
  .github/workflows/deploy.yml
  docs/cicd-redeploy-checklist.md
Due: none

fix: modal showing issue
  src/app/[locale]/(landing)/(home)/show-modals.tsx
  src/app/[locale]/dashboard/dashboard-guards.tsx
  src/hooks/useSeasonStorage.tsx
  src/hooks/useSessionStorage.tsx
Due: prettier-ts, eslint

fix: all design and CI issues
  .github/workflows/deploy.yml
  docs/cls-extended-guide.md
  src/app/[locale]/(landing)/(home)/Dialog/be-member-content.tsx
  src/app/[locale]/(landing)/(home)/new-coming-soon-hero.tsx
  src/app/[locale]/coming-soon/page.tsx
Due: prettier-ts, eslint

fix: ci input
  .github/workflows/deploy.yml
Due: none

fix: hero page design issue
  src/app/[locale]/(landing)/(home)/new-coming-soon-hero.tsx
Due: prettier-ts, eslint

refactor: removed legacy font-caudex
  src/app/[locale]/not-found.tsx
  src/components/shared/new-nav/new-nav-large.tsx
  src/lib/fonts.ts
Due: prettier-ts, eslint

refactor: removed legacy font-caudex (2)
  src/app/[locale]/(landing)/(home)/Dialog/welcome-content.tsx
  src/app/[locale]/(landing)/(home)/about-glowmi.tsx
  src/app/[locale]/(landing)/(home)/collection-product.tsx
  src/app/[locale]/(landing)/(home)/contact-us.tsx
  src/app/[locale]/(landing)/(home)/glowmi-states.tsx
  src/app/[locale]/(landing)/(home)/hero.tsx
  src/app/[locale]/(landing)/(home)/home-bottom-cta.tsx
  src/app/[locale]/(landing)/(home)/new-coming-soon-hero.tsx
  src/app/[locale]/(landing)/(home)/skincare-showcase.tsx
  src/app/[locale]/(landing)/(home)/visuals-results.tsx
  src/app/[locale]/(landing)/about-us/about-hero.tsx
  src/app/[locale]/(landing)/about-us/about-mission-and-vision.tsx
  src/app/[locale]/(landing)/about-us/brand-story.tsx
  src/app/[locale]/(landing)/contact-us/page.tsx
  src/app/[locale]/(landing)/ingredients/page.tsx
  src/app/[locale]/(landing)/privacy-policy/page.tsx
  src/app/[locale]/(landing)/terms-conditions/page.tsx
  src/app/[locale]/coming-soon/coming-soon-content.tsx
  src/app/[locale]/coming-soon/page.tsx
  src/app/[locale]/profile/not-found.tsx
  src/app/[locale]/profile/order-history/page.tsx
  src/app/[locale]/profile/user-profile-and-states.tsx
  src/app/[locale]/skin-analyzer/analysis/page.tsx
  src/app/[locale]/skin-analyzer/checkout/page.tsx
  src/app/[locale]/skin-analyzer/product-details/[id]/single-product-details.tsx
  src/app/[locale]/skin-analyzer/your-routine/page.tsx
  src/app/[locale]/skin-analyzer/your-routine/your-routines-contents.tsx
  src/components/dashboard/product-view.tsx
  src/components/shared/checkout-items.tsx
  src/components/shared/nav-list.tsx
  src/components/shared/new-footer.tsx
  src/components/shared/new-nav/new-nav-mobile.tsx
  src/components/shared/site-heading.tsx
Due: prettier-ts, eslint

refactor: removed legacy font-open-sans
  src/app/[locale]/(landing)/(home)/Dialog/welcome-content.tsx
  src/app/[locale]/(landing)/(home)/about-glowmi.tsx
  src/app/[locale]/(landing)/(home)/collection-product.tsx
  src/app/[locale]/(landing)/(home)/glowmi-product-showcase.tsx
  src/app/[locale]/(landing)/(home)/glowmi-states.tsx
  src/app/[locale]/(landing)/(home)/hero.tsx
  src/app/[locale]/(landing)/(home)/home-bottom-cta.tsx
  src/app/[locale]/(landing)/(home)/skincare-showcase.tsx
  src/app/[locale]/(landing)/(home)/transformation.tsx
  src/app/[locale]/(landing)/(home)/visuals-results.tsx
  src/app/[locale]/(landing)/about-us/about-mission-and-vision.tsx
  src/app/[locale]/(landing)/about-us/brand-story.tsx
  src/app/[locale]/(landing)/contact-us/page.tsx
  src/app/[locale]/(landing)/privacy-policy/page.tsx
  src/app/[locale]/(landing)/terms-conditions/page.tsx
  src/app/[locale]/ai-chat-assistant/ai-chat-content.tsx
  src/app/[locale]/coming-soon/coming-soon-content.tsx
  src/app/[locale]/coming-soon/page.tsx
  src/app/[locale]/dashboard/customer/add-customer.tsx
  src/app/[locale]/not-found.tsx
  src/app/[locale]/profile/my-cart/page.tsx
  src/app/[locale]/profile/order-history/page.tsx
  src/app/[locale]/profile/page.tsx
  src/app/[locale]/profile/save-routine/page.tsx
  src/app/[locale]/profile/settings/page.tsx
  src/app/[locale]/profile/user-profile-and-states.tsx
  src/app/[locale]/skin-analyzer/analysis/page.tsx
  src/app/[locale]/skin-analyzer/checkout/page.tsx
  src/app/[locale]/skin-analyzer/product-details/[id]/single-product-details.tsx
  src/app/[locale]/skin-analyzer/your-routine/your-routines-contents.tsx
  src/components/shared/footer-single.tsx
  src/components/shared/nav.tsx
  src/components/shared/navlink-list.tsx
  src/components/shared/site-heading.tsx
  src/components/ui/button.tsx
  src/lib/fonts.ts
Due: prettier-ts, eslint

fix: all feedback design issues
  src/app/[locale]/(landing)/(home)/Dialog/be-member-content.tsx
  src/assets/icons/multi-lang-icon.svg
  src/components/shared/new-nav/new-nav-large.tsx
Due: prettier-ts, eslint

fix: mobile member modal
  src/app/[locale]/(landing)/(home)/Dialog/be-member-content.tsx
Due: prettier-ts, eslint

fix :be member mobile response issue
  src/app/[locale]/(landing)/(home)/Dialog/be-member-content.tsx
Due: prettier-ts, eslint

chore: added deploy scrips
  deploy.sh
Due: none

chore: updated deploy scrips
  deploy.sh
Due: none

chore: updated deploy scrips 2
  deploy.sh
Due: none

fix: design issue
  src/app/[locale]/(landing)/(home)/new-coming-soon-hero.tsx
Due: prettier-ts, eslint

Path conditions:
  prettier-ts: any of: src/**/*.{ts,tsx}
  eslint: any of: src/**/*.{ts,tsx}
  prettier-other: any of: src/**/*.{json,css,md}
