Repository yeasin2002/rumi77-ai_skin_care-jvai: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-ts, eslint, prettier-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier-ts:
      glob: 'src/**/*.{ts,tsx}'
      run: npx prettier --write {staged_files}
      stage_fixed: true
    eslint:
      glob: 'src/**/*.{ts,tsx}'
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier-other:
      glob: 'src/**/*.{json,css,md}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

feat: Add create account dialog with form validation, new landing page layout, and shared UI components including popover, calendar, and date picker.
  package.json
  pnpm-lock.yaml
  src/app/[locale]/(landing)/(home)/Dialog/create-account-content.tsx
  src/app/[locale]/(landing)/layout.tsx
  src/app/favicon.ico
  src/components/shared/date-picker.tsx
  src/components/shared/new-nav/new-nav-large.tsx
  src/components/ui/calendar.tsx
  src/components/ui/popover.tsx
  src/i18n/locales/en/home.json
Due: prettier-ts, eslint, prettier-other

fix: date input with year varient
  src/components/shared/date-picker.tsx
  src/components/ui/field.tsx
  src/components/ui/separator.tsx
Due: prettier-ts, eslint

fix: hero and moral issues
  src/app/[locale]/(landing)/(home)/Dialog/create-account-content.tsx
  src/app/[locale]/(landing)/(home)/Dialog/modal-container.tsx
  src/app/[locale]/(landing)/(home)/new-coming-soon-hero.tsx
  src/app/[locale]/(landing)/(home)/show-modals.tsx
  src/components/shared/new-footer.tsx
Due: prettier-ts, eslint

refactor: using portal in modal-container
  src/app/[locale]/(landing)/(home)/Dialog/modal-container.tsx
Due: prettier-ts, eslint

feat: add `ModalContainer` component for animated, portal-rendered dialogs with body overflow control.
  src/app/[locale]/(landing)/(home)/Dialog/modal-container.tsx
  src/components/shared/new-nav/new-nav-mobile.tsx
Due: prettier-ts, eslint

feat: updated dashboard member tables
  src/app/[locale]/dashboard/member/page.tsx
  src/app/[locale]/dashboard/member/show-member-list.tsx
Due: prettier-ts, eslint

fix: mobile issue
  src/assets/image/new-coming-soon-mobile.jpg
Due: none

feat: updated title metadata
  src/app/[locale]/layout.tsx
Due: prettier-ts, eslint
