Repository yeasin2002/rumi77-ai_skin_care-jvai: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-ts, eslint, prettier-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier-ts:
      glob: 'src/**/*.{ts,tsx}'
      run: npx prettier --write {staged_files}
      stage_fixed: true
    eslint:
      glob: 'src/**/*.{ts,tsx}'
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier-other:
      glob: 'src/**/*.{json,css,md}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

refactor: font using as css variable now!
  src/app/[locale]/(landing)/(home)/about-glowmi.tsx
  src/app/[locale]/(landing)/(home)/collection-product.tsx
  src/app/[locale]/(landing)/(home)/glowmi-product-showcase.tsx
  src/app/[locale]/(landing)/(home)/glowmi-states.tsx
  src/app/[locale]/(landing)/(home)/hero.tsx
  src/app/[locale]/(landing)/(home)/home-bottom-cta.tsx
  src/app/[locale]/(landing)/(home)/skincare-showcase.tsx
  src/app/[locale]/(landing)/(home)/transformation.tsx
  src/app/[locale]/(landing)/(home)/visuals-results.tsx
  src/app/[locale]/coming-soon/page.tsx
  src/app/[locale]/not-found.tsx
  src/components/shared/footer-single.tsx
  src/components/shared/site-heading.tsx
  src/i18n/routing.ts
Due: prettier-ts, eslint

fix: re-usable navlinks with image instead of lucid icon
  src/app/[locale]/(landing)/(home)/hero.tsx
  src/app/[locale]/dashboard/(admin)/layout.tsx
  src/app/[locale]/dashboard/(auth)/layout.tsx
  src/app/[locale]/profile/profile-tab-list.tsx
  src/assets/icons/cloud-projects.svg
  src/assets/icons/heart.svg
  src/assets/icons/packages.svg
  src/assets/icons/solar_bag-broken.svg
  src/assets/icons/solar_settings-linear.svg
  src/components/shared/navlink-list.tsx
  src/i18n/locales/ar/home.json
Due: prettier-ts, eslint, prettier-other

refactor: moved dashboard to to feature
  src/app/[locale]/dashboard/layout.tsx
  src/feature/dashboard-auth/forget-password/page.tsx
  src/feature/dashboard-auth/layout.tsx
  src/feature/dashboard-auth/login/page.tsx
  src/feature/dashboard-auth/reset-password/page.tsx
  src/feature/dashboard-auth/verify-otp/page.tsx
Due: prettier-ts, eslint

fix: updated layout nav links
  src/app/[locale]/dashboard/layout.tsx
  src/app/[locale]/dashboard/page.tsx
  src/assets/icons/blocks.svg
  src/assets/icons/carbon_analytics.svg
  src/assets/icons/notes.svg
  src/assets/icons/ri_search-ai-line.svg
  src/assets/icons/shop-bags.svg
  src/assets/icons/tags.svg
  src/assets/icons/users.svg
Due: prettier-ts, eslint

feat(dashboard): add admin dashboard index page with charts and analytics
  bun.lock
  package.json
  src/app/[locale]/dashboard/(index)/admin-customers-charts.tsx
  src/app/[locale]/dashboard/(index)/admin-states.tsx
  src/app/[locale]/dashboard/(index)/mostly-ordered-area.tsx
  src/app/[locale]/dashboard/(index)/orders-list.tsx
  src/app/[locale]/dashboard/(index)/page.tsx
  src/app/[locale]/dashboard/(index)/recent-transactions.tsx
  src/app/[locale]/dashboard/(index)/sale-cards.tsx
  src/app/[locale]/dashboard/(index)/top-products-list.tsx
  src/app/[locale]/dashboard/(index)/your-performance.tsx
  src/app/[locale]/dashboard/category/page.tsx
  src/app/[locale]/dashboard/page.tsx
  src/components/shared/nav.tsx
  src/components/ui/chart.tsx
Due: prettier-ts, eslint

feat: designed Category subpagePage of dashboard
  eslint.config.mjs
  src/app/[locale]/dashboard/category/add-category.tsx
  src/app/[locale]/dashboard/category/page.tsx
  src/components/ui/dialog.tsx
  src/components/ui/index.ts
  src/components/ui/table.tsx
Due: prettier-ts, eslint

feat: created add product design!
  src/app/[locale]/dashboard/products/add-product.tsx
  src/app/[locale]/dashboard/products/page.tsx
  src/components/ui/select.tsx
Due: prettier-ts, eslint

feat: created products page design in dashboard
  src/app/[locale]/dashboard/products/page.tsx
  src/app/[locale]/dashboard/products/product-data-table.tsx
  src/app/[locale]/dashboard/products/product-pagination.tsx
  src/app/[locale]/dashboard/products/product-search-and-filter.tsx
  src/components/ui/pagination.tsx
Due: prettier-ts, eslint

feat(dashboard): add product view modal dialog to products table
  src/app/[locale]/dashboard/products/product-data-table.tsx
  src/components/dashboard/index.ts
  src/components/dashboard/product-view.tsx
Due: prettier-ts, eslint

feat: created order page in dashboard
  src/app/[locale]/dashboard/orders/page.tsx
Due: prettier-ts, eslint

feat(dashboard): create customers page with add and view modals
  src/app/[locale]/dashboard/customer/add-customer.tsx
  src/app/[locale]/dashboard/customer/customers.data.ts
  src/app/[locale]/dashboard/customer/page.tsx
  src/app/[locale]/dashboard/customer/view-customer.tsx
  src/components/ui/dialog.tsx
Due: prettier-ts, eslint

feat(dashboard): create analyzers page with user management table
  src/app/[locale]/dashboard/analyzers/analyze.data.ts
  src/app/[locale]/dashboard/analyzers/page.tsx
  src/app/[locale]/dashboard/analyzers/view-analyzer.tsx
  src/components/ui/dialog.tsx
Due: prettier-ts, eslint

feat(dashboard): create settings page with privacy policy and terms
  src/app/[locale]/dashboard/layout.tsx
  src/app/[locale]/dashboard/settings/page.tsx
  src/assets/icons/settings-light.svg
Due: prettier-ts, eslint

feat(dashboard): create ai-analytics page with trend and performance charts
  src/app/[locale]/dashboard/ai-analytics/ai-analytics.data.ts
  src/app/[locale]/dashboard/ai-analytics/page.tsx
  src/app/[locale]/dashboard/ai-analytics/performance-by-category.tsx
  src/app/[locale]/dashboard/ai-analytics/trend-and-frequency.tsx
Due: prettier-ts, eslint

feat(dashboard): create dashboard navigation component with mobile support
  src/app/[locale]/dashboard/layout.tsx
  src/assets/icons/logo-light.png
  src/components/dashboard/dashboard-nav.tsx
Due: prettier-ts, eslint

fix: route issues
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(auth)/verify-otp/page.tsx
Due: prettier-ts, eslint

feat(skin-analyzer): add your-routine page with product recommendations
  next.config.ts
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/skin-analyzer/analysis/page.tsx
  src/app/[locale]/skin-analyzer/your-routine/your-routine.data.ts
  src/app/[locale]/skin-analyzer/your-routine/your-routines-contents.tsx
  src/components/shared/nav.tsx
  src/i18n/locales/ar/shared.json
  src/i18n/locales/en/shared.json
Due: prettier-ts, eslint, prettier-other

feat(skin-analyzer): refactor footer components and update logo assets
  src/app/[locale]/(landing)/layout.tsx
  src/app/[locale]/coming-soon/page.tsx
  src/app/[locale]/not-found.tsx
  src/app/[locale]/skin-analyzer/product-details/[id]/layout.tsx
  src/app/[locale]/skin-analyzer/product-details/[id]/related-products.tsx
  src/app/[locale]/skin-analyzer/your-routine/page.tsx
  src/app/[locale]/skin-analyzer/your-routine/your-routines-contents.tsx
  src/assets/image/logo-compact.png
  src/assets/image/logo-compact.svg
  src/components/shared/footer-single.tsx
  src/components/shared/footer.tsx
  src/components/shared/product-cards.tsx
  src/feature/dashboard-auth/forget-password/page.tsx
  src/feature/dashboard-auth/login/page.tsx
  src/feature/dashboard-auth/reset-password/page.tsx
  src/feature/dashboard-auth/verify-otp/page.tsx
  src/styles/globals.css
  src/styles/shadcn-ui.css
Due: prettier-ts, eslint, prettier-other

feat(profile): update typography and color scheme with open-sans font
  src/app/[locale]/ai-chat-assistant/ai-chat-content.tsx
  src/app/[locale]/profile/layout.tsx
  src/app/[locale]/profile/page.tsx
  src/app/[locale]/profile/user-profile-and-states.tsx
  src/components/shared/navlink-list.tsx
  src/components/ui/button.tsx
  src/styles/globals.css
  src/styles/shadcn-ui.css
Due: prettier-ts, eslint, prettier-other

feat(profile): enhance tailwind css configuration and update profile styling
  .vscode/settings.json
  src/app/[locale]/profile/layout.tsx
  src/app/[locale]/profile/save-routine/page.tsx
  src/components/shared/navlink-list.tsx
Due: prettier-ts, eslint

fix: style issue on cart page
  src/app/[locale]/profile/my-cart/page.tsx
  src/components/shared/checkout-items.tsx
Due: prettier-ts, eslint

fix: profile page design issues
  src/app/[locale]/profile/order-history/page.tsx
  src/app/[locale]/profile/settings/page.tsx
Due: prettier-ts, eslint

feat(dashboard): refine dashboard and profile styling with color and layout updates
  src/app/[locale]/dashboard/(index)/admin-states.tsx
  src/app/[locale]/dashboard/(index)/mostly-ordered-area.tsx
  src/app/[locale]/dashboard/(index)/orders-list.tsx
  src/app/[locale]/dashboard/(index)/sale-cards.tsx
  src/app/[locale]/dashboard/(index)/your-performance.tsx
  src/app/[locale]/profile/order-history/page.tsx
  src/app/[locale]/profile/settings/page.tsx
  src/components/shared/checkout-items.tsx
  src/styles/shadcn-ui.css
Due: prettier-ts, eslint, prettier-other

fix: dashboard table
  src/app/[locale]/dashboard/settings/page.tsx
  src/components/ui/table.tsx
Due: prettier-ts, eslint

fix: tab and tables
  src/app/[locale]/dashboard/layout.tsx
  src/app/[locale]/dashboard/orders/page.tsx
  src/components/shared/navlink-list.tsx
Due: prettier-ts, eslint

feat(landing): refactor home page components and update product showcase
  src/app/[locale]/(landing)/(home)/about-glowmi.tsx
  src/app/[locale]/(landing)/(home)/collection-product.tsx
  src/app/[locale]/(landing)/(home)/contact-us.tsx
  src/app/[locale]/(landing)/(home)/glowmi-product-showcase.tsx
  src/app/[locale]/(landing)/(home)/glowmi-states.tsx
  src/app/[locale]/(landing)/(home)/home-bottom-cta.tsx
  src/app/[locale]/(landing)/(home)/page.tsx
  src/app/[locale]/(landing)/(home)/skincare-showcase.tsx
  src/app/[locale]/(landing)/(home)/transformation.tsx
  src/app/[locale]/(landing)/(home)/visuals-results.tsx
  src/app/[locale]/coming-soon/page.tsx
  src/components/shared/site-heading.tsx
Due: prettier-ts, eslint

fix: homepage feedback issues
  src/app/[locale]/(landing)/(home)/glowmi-product-showcase.tsx
  src/app/[locale]/(landing)/(home)/hero.tsx
  src/i18n/locales/en/home.json
Due: prettier-ts, eslint, prettier-other

fix: build and navigation issues
  package.json
  src/app/[locale]/dashboard/products/page.tsx
  src/app/[locale]/skin-analyzer/analysis/page.tsx
  src/app/api/health/route.ts
  src/components/shared/footer-single.tsx
  src/components/shared/nav-list.tsx
Due: prettier-ts, eslint

feat(i18n): add RTL support for Arabic language
  src/app/[locale]/layout.tsx
  src/styles/globals.css
Due: prettier-ts, eslint, prettier-other

feat(i18n): enhance RTL support with locale-based styling and validation
  src/app/[locale]/layout.tsx
  src/styles/globals.css
Due: prettier-ts, eslint, prettier-other

refactor: moved metadata to layout
  config/root-metadata.ts
  src/app/[locale]/layout.tsx
Due: prettier-ts, eslint

fix(i18n): update unicode-bidi values for improved RTL text handling
  src/styles/globals.css
Due: prettier-other

fix(i18n): improve RTL handling for input elements and before-after comparison
  src/app/[locale]/(landing)/(home)/transformation.tsx
  src/styles/globals.css
Due: prettier-ts, eslint, prettier-other

chore: removed French locals
  src/i18n/locales/fr/comingSoon.json
  src/i18n/locales/fr/home.json
  src/i18n/locales/fr/shared.json
  src/i18n/routing.ts
Due: prettier-ts, eslint, prettier-other

feat: added multi languages support to "Best Products" section
  src/app/[locale]/(landing)/(home)/best-products.tsx
  src/i18n/locales/ar/home.json
  src/i18n/locales/en/home.json
Due: prettier-ts, eslint, prettier-other

feat(i18n): add localized "View Details" label to product carousel
  src/app/[locale]/(landing)/(home)/best-products.tsx
  src/app/[locale]/(landing)/(home)/products-list.tsx
  src/i18n/locales/ar/home.json
  src/i18n/locales/en/home.json
Due: prettier-ts, eslint, prettier-other

feat(i18n): add localized content to Contact Us section
  src/app/[locale]/(landing)/(home)/contact-us.tsx
  src/i18n/locales/ar/home.json
  src/i18n/locales/en/home.json
Due: prettier-ts, eslint, prettier-other

fix: arabic locals issues
  src/app/[locale]/(landing)/(home)/glowmi-states.tsx
  src/i18n/locales/ar/home.json
Due: prettier-ts, eslint, prettier-other

refactor: replaced next/link with /i18n/navigation
  src/app/[locale]/coming-soon/page.tsx
  src/app/[locale]/not-found.tsx
  src/app/[locale]/profile/not-found.tsx
  src/app/[locale]/profile/profile-tab-list.tsx
  src/components/shared/nav-list.tsx
  src/components/shared/navlink-list.tsx
  src/feature/dashboard-auth/login/page.tsx
Due: prettier-ts, eslint

fix: all homepage arabic locals issues
  src/i18n/locales/ar/home.json
Due: prettier-other
