Repository yeasin2002/rumi77-ai_skin_care-jvai: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-ts, eslint, prettier-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier-ts:
      glob: 'src/**/*.{ts,tsx}'
      run: npx prettier --write {staged_files}
      stage_fixed: true
    eslint:
      glob: 'src/**/*.{ts,tsx}'
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier-other:
      glob: 'src/**/*.{json,css,md}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

feat: added internationalization to ingredients page
  src/app/[locale]/(landing)/ingredients/page.tsx
  src/i18n/locales/ar/ingredients.json
  src/i18n/locales/en/ingredients.json
  src/i18n/request.ts
Due: prettier-ts, eslint, prettier-other

feat: added internationalization to about-us page
  src/app/[locale]/(landing)/about-us/about-hero.tsx
  src/app/[locale]/(landing)/about-us/about-mission-and-vision.tsx
  src/app/[locale]/(landing)/about-us/brand-story.tsx
  src/i18n/locales/ar/about-us.json
  src/i18n/locales/en/about-us.json
  src/i18n/request.ts
Due: prettier-ts, eslint, prettier-other

feat: added internationalization to contact-us page
  src/app/[locale]/(landing)/contact-us/page.tsx
Due: prettier-ts, eslint

feat: added internationalization to auth related pages
  src/app/[locale]/(auth)/forget-password/page.tsx
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(auth)/reset-password/page.tsx
  src/app/[locale]/(auth)/sign-up/page.tsx
  src/app/[locale]/(auth)/verify-otp/page.tsx
  src/i18n/locales/ar/auth.json
  src/i18n/locales/en/auth.json
  src/i18n/request.ts
Due: prettier-ts, eslint, prettier-other

fix: all arabic language issues
  src/app/[locale]/skin-analyzer/analysis/page.tsx
  src/app/[locale]/skin-analyzer/your-routine/your-routines-contents.tsx
  src/i18n/locales/ar/home.json
Due: prettier-ts, eslint, prettier-other

feat: added internationalization to Analysis page
  src/app/[locale]/skin-analyzer/analysis/page.tsx
  src/i18n/locales/ar/skin-analyzer-analysis.json
  src/i18n/locales/en/skin-analyzer-analysis.json
  src/i18n/request.ts
Due: prettier-ts, eslint, prettier-other

feat: added internationalization in Checkout page
  src/app/[locale]/skin-analyzer/checkout/page.tsx
  src/components/shared/checkout-items.tsx
  src/i18n/locales/ar/checkout.json
  src/i18n/locales/ar/shared.json
  src/i18n/locales/en/checkout.json
  src/i18n/locales/en/shared.json
  src/i18n/request.ts
Due: prettier-ts, eslint, prettier-other

feat: added internationalization in Product Details Page page
  src/app/[locale]/skin-analyzer/product-details/[id]/related-products.tsx
  src/app/[locale]/skin-analyzer/product-details/[id]/single-product-details.tsx
  src/components/shared/product-cards.tsx
  src/i18n/locales/ar/product-details.json
  src/i18n/locales/en/product-details.json
  src/i18n/request.ts
Due: prettier-ts, eslint, prettier-other

feat: added internationalization in "your routine" page
  src/app/[locale]/skin-analyzer/your-routine/page.tsx
  src/app/[locale]/skin-analyzer/your-routine/your-routines-contents.tsx
  src/i18n/locales/ar/your-routine.json
  src/i18n/locales/en/your-routine.json
  src/i18n/request.ts
Due: prettier-ts, eslint, prettier-other

feat: added internationalization to profile layout!
  src/app/[locale]/profile/layout.tsx
  src/app/[locale]/profile/user-profile-and-states.tsx
  src/i18n/locales/ar/profile.json
  src/i18n/locales/en/profile.json
  src/i18n/request.ts
Due: prettier-ts, eslint, prettier-other

feat: added internationalization to profiles subpages
  src/app/[locale]/profile/my-cart/page.tsx
  src/app/[locale]/profile/not-found.tsx
  src/app/[locale]/profile/order-history/page.tsx
  src/app/[locale]/profile/page.tsx
  src/app/[locale]/profile/save-routine/page.tsx
  src/app/[locale]/profile/settings/page.tsx
  src/i18n/locales/ar/profile.json
  src/i18n/locales/en/profile.json
Due: prettier-ts, eslint, prettier-other

feat: added internationalization to ai-chat-assistant subpages
  src/app/[locale]/ai-chat-assistant/ai-chat-content.tsx
  src/app/[locale]/ai-chat-assistant/ai-chatbox.tsx
  src/app/favicon.ico
  src/i18n/locales/ar/ai-chat-assistant.json
  src/i18n/locales/en/ai-chat-assistant.json
  src/i18n/request.ts
Due: prettier-ts, eslint, prettier-other

refactor: root code stricture
  src/app/not-found.tsx
  src/styles/custom.css
  src/styles/globals.css
Due: prettier-ts, eslint, prettier-other

docs: add SSG vs dynamic rendering guide for GLOWMI
  docs/ssg-vs-dynamic-guide.md
  src/proxy.ts
Due: none

fix: nav-list according to new feedback
  src/app/[locale]/not-found.tsx
  src/app/favicon.ico
  src/components/shared/nav-list.tsx
  src/i18n/locales/ar/shared.json
  src/i18n/locales/en/shared.json
  src/proxy.ts
Due: prettier-ts, eslint, prettier-other

feat(home): add coming soon page and refactor home layout
  src/app/[locale]/(landing)/(home)/page.tsx
  src/app/[locale]/coming-soon/coming-soon-content.tsx
  src/app/[locale]/coming-soon/page.tsx
Due: prettier-ts, eslint

fix: footer design
  src/app/[locale]/(landing)/layout.tsx
  src/components/shared/footer.tsx
Due: prettier-ts, eslint

feat: created coming-soon nav and footer.
  src/assets/icons/logo-mini.svg
  src/assets/icons/logo.svg
  src/assets/icons/social/logos_facebook.svg
  src/assets/icons/social/logos_tiktok-icon.svg
  src/assets/icons/social/skill-icons_instagram.svg
  src/assets/icons/social/snapchat-logo.svg
  src/components/shared/language-toggle.tsx
  src/components/shared/new-footer.tsx
  src/components/shared/new-nav.tsx
Due: prettier-ts, eslint

feat: created coming-soon hero design
  src/app/[locale]/(landing)/(home)/coming-soon-hero.tsx
  src/app/[locale]/(landing)/(home)/page.tsx
  src/app/[locale]/(landing)/layout.tsx
  src/assets/image/coming-soon-hero-bg.png
  src/styles/shadcn-ui.css
Due: prettier-ts, eslint, prettier-other

fix: footer issues
  src/app/[locale]/(landing)/(home)/coming-soon-hero.tsx
  src/assets/icons/social/devicon_linkedin.svg
  src/assets/icons/social/skill-icons_twitter.svg
  src/components/shared/footer.tsx
  src/components/shared/new-footer.tsx
Due: prettier-ts, eslint

feat: refactored new nav
  src/components/shared/new-nav/index.tsx
  src/components/shared/new-nav/new-nav-large.tsx
  src/components/shared/new-nav/new-nav-mobile.tsx
Due: prettier-ts, eslint

feat: created responsive mobile nav design
  src/components/shared/new-nav/new-nav-large.tsx
  src/components/shared/new-nav/new-nav-mobile.tsx
Due: prettier-ts, eslint

feat: updated footer links
  src/components/shared/new-footer.tsx
Due: prettier-ts, eslint

feat: updated coming-soon page
  src/app/[locale]/coming-soon/page.tsx
  src/assets/icons/logo/logo-mini-dark.svg
Due: prettier-ts, eslint

feat(home): update coming-soon hero, footer, and navigation with i18n
  src/app/[locale]/(landing)/(home)/new-coming-soon-hero.tsx
  src/components/shared/new-footer.tsx
  src/components/shared/new-nav/new-nav-large.tsx
  src/i18n/locales/ar/home.json
  src/i18n/locales/ar/shared.json
  src/i18n/locales/en/home.json
  src/i18n/locales/en/shared.json
Due: prettier-ts, eslint, prettier-other

feat: add tagline to coming soon page and translations
  src/app/[locale]/coming-soon/page.tsx
  src/i18n/locales/ar/comingSoon.json
  src/i18n/locales/en/comingSoon.json
Due: prettier-ts, eslint, prettier-other

fix: feedback design issue
  src/app/[locale]/(landing)/(home)/new-coming-soon-hero.tsx
  src/app/[locale]/coming-soon/coming-soon-content.tsx
  src/components/shared/new-footer.tsx
Due: prettier-ts, eslint

feat: enhance coming soon hero with mobile background image and layout adjustments
  src/app/[locale]/(landing)/(home)/new-coming-soon-hero.tsx
  src/assets/image/new-coming-soon-mobile.jpg
  src/components/shared/new-footer.tsx
Due: prettier-ts, eslint

fix: hero section design for large device
  src/app/[locale]/(landing)/(home)/new-coming-soon-hero.tsx
Due: prettier-ts, eslint

feat(modals): refactor dialog layouts and add complete profile background image
  src/app/[locale]/(landing)/(home)/Dialog/be-member.tsx
  src/app/[locale]/(landing)/(home)/Dialog/create-account.tsx
  src/assets/image/modals/complete-profile-image.png
  src/components/ui/alert-dialog.tsx
Due: prettier-ts, eslint

feat(modals): refactor dialog components to use custom overlay instead of AlertDialog
  src/app/[locale]/(landing)/(home)/Dialog/be-member.tsx
  src/app/[locale]/(landing)/(home)/Dialog/create-account.tsx
  src/app/[locale]/(landing)/(home)/Dialog/welcome-modal.tsx
  src/app/[locale]/(landing)/(home)/show-modals.tsx
Due: prettier-ts, eslint

refactor(modals): reorganize modal components into Dialog directory
  src/app/[locale]/(landing)/(home)/Dialog/show-modals.tsx
  src/app/[locale]/(landing)/(home)/Dialog/welcome-modal.tsx
  src/app/[locale]/(landing)/(home)/page.tsx
Due: prettier-ts, eslint

refactor(modals): extract modal content into separate components
  src/app/[locale]/(landing)/(home)/Dialog/be-member-content.tsx
  src/app/[locale]/(landing)/(home)/Dialog/be-member.tsx
  src/app/[locale]/(landing)/(home)/Dialog/create-account-content.tsx
  src/app/[locale]/(landing)/(home)/Dialog/create-account.tsx
  src/app/[locale]/(landing)/(home)/Dialog/modal-container.tsx
  src/app/[locale]/(landing)/(home)/Dialog/show-modals.tsx
  src/app/[locale]/(landing)/(home)/Dialog/welcome-content.tsx
  src/app/[locale]/(landing)/(home)/Dialog/welcome-modal.tsx
  src/app/[locale]/(landing)/(home)/page.tsx
  src/app/[locale]/(landing)/(home)/show-modals.tsx
Due: prettier-ts, eslint

feat: added animation to the landing modals
  bun.lock
  package.json
  src/app/[locale]/(landing)/(home)/Dialog/modal-container.tsx
Due: prettier-ts, eslint

feat(modals): refactor dialog layouts and enhance visual design
  src/app/[locale]/(landing)/(home)/Dialog/be-member-content.tsx
  src/app/[locale]/(landing)/(home)/Dialog/create-account-content.tsx
  src/app/[locale]/(landing)/(home)/Dialog/modal-container.tsx
  src/assets/image/Join-modal-icon.png
  src/lib/fonts.ts
  src/styles/globals.css
  src/styles/shadcn-ui.css
Due: prettier-ts, eslint, prettier-other
